@import "tailwindcss";
@tailwind utilities;
@plugin "@tailwindcss/typography";

@theme {
    --color-nice-blue: #52C4DB;
    --color-nice-green: #92D922;
    --color-nice-red: #E40459;
}

@font-face {
    font-family: "jbm_normal";
    src: url("../fonts/JBM_normal.woff2");
}
@font-face {
    font-family: "jbm_bold";
    src: url("../fonts/JBM_bold.woff2");
}

@utility jbm_normal {
    font-family: "jbm_normal", monospace;
}

@utility jbm_bold {
    font-family: "jbm_bold", monospace;
}