<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="../static/css/output.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Homepage</title>
</head>
<body class="flex flex-col items-center h-screen bg-black text-white"
      hx-get="/api/blog/{{.ID}}"
      hx-trigger="load"
      hx-target="#blogData"
      hx-swap="innerHTML"
>
<div class="w-full px-3 flex justify-center"
     hx-get="/api/navbar"
     hx-trigger="load"
     hx-target="this"
     hx-swap="innerHTML">
</div>
<div class="py-4"></div>
<article id="blogData" class="bg-neutral-950 p-2 prose prose-invert prose-sm sm:prose-base lg:prose-md"></article>
</body>
</html>
