<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
  <link rel="stylesheet" href="/static/css/output.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Homepage</title>
</head>
<body>

<h1>Homepage</h1>
<h2>hello</h2>
<button hx-get="http://localhost:5731/projects" hx-target="#status" hx-swap="innerHTML">
Click me!
</button>
<h2 id="status"></h2>

</body>
</html>
