<div class="w-full md:w-1/3 jbm_bold pt-2">
    <div class="flex flex-row sm:text-2xl">
        <div class="w-2/3">
            <a href="/" class="hover:text-nice-blue">
                Home
            </a>
            <a href="/projects" class="hover:text-nice-blue">
                Projects
            </a>
            <a href="/blogs" class="hover:text-nice-blue">
                Blogs
            </a>
        </div>
        <div class="w-1/3 flex justify-end items-center">
            <a href="/contact" class="text-right hover:text-nice-blue">
                Contact
            </a>
        </div>
    </div>
    <hr class="">
</div>
